@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark: #414145;
  --darker: #1b1c1f;
  --light: #e3e3e8;
  --lighter: #ededf2;
}

html body {
  font-family: "Poppins";
}

.App {
  height: 100vh;
}

.form-control-dark {
  color: var(--light) !important;
  background-color: var(--darker) !important;
  border-color: black !important;
}

/* th,
td {
  white-space: nowrap !important;
} */
